<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Todo List</title>



</style>
</head>
<body>
    <h1>Todo List</h1>
    <center><a>search</a></center>
    <hr>
    <div id="todoForm">
        
        <form action="/todo/create" method="post">
        <label for="name">Todo Name</label><input type="text"><br>  
        <label for="date">due date</label><input type="text">
            <button>Create Todo</button>
        </form>
    </div>
    <hr>
    
</body>
</html>